body{
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
}

* {
    height: auto;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nav{
    width:28%;
    height: 60px;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-top: 1%;
}

.nav p{
    padding: 1em;
    float: left;
    color: white;

}

.main-content{
    width: 1040px;
    margin-left: 8%;
    margin-top: 5%;
    background-color: black;
}

.des {
    width: 28%;
    height: auto;
    margin-top: 5%;
    margin-right: 2%;
    float: left;
}

.des p{
    margin-top: 10%;
}

.first-image {
    width: 35%;
    height: 400px;
    margin-right: 2.5%;
    margin-top: 5%;
    float: left;
    
}

.second-image {
    width: 32%;
    height: 400px;
    margin-top: 5%;
    float: left;
}

.title{
    width: 70%;
    margin-top: 7%;
    margin-left: 12%;
    font-size: 2em;
    font-weight: bold;
}

.date {
    height: 0;
    font-size: 1.5em;
    margin-bottom: 5%;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 12%;
    float: left;

}

.top-small {
    width: 25%;
    height: 100px;
    margin-left: 75%;
}
.first-small {
    width: 25%;
    height: 100px;
    margin-left: 70%;
    border-style: solid;

    border-radius: 5%;
}
.second-small {
    width: 25%;
    height: 100px;
    margin-left: 70%;
    border-style: solid;
    border-radius: 5%;
}

.big-image {
    width: 70%;
    height: 300px;
    margin-top: 10%;
    float: left;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    
    *{
        width: 90vw;
        margin: 0;
    }
    
    body {
        width: inherit;
      display: inline-block;
    }

    .nav {
        width: 100%;
    }

    .main-content {
        height: auto;
        width: 400px;
        margin: auto;
    }
    



  }