body{
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nav{
    width:28%;
    height: 60px;
    margin-left: 7%;
    margin-bottom: 5%;
    margin-top: 1%;
}

.nav p{
    padding: 1em;
    float: left;
    color: white;

}

.main-content{
    width:90%;   
    height: auto;
    margin-left: 8%;
    margin-right: 0%;
    background-color:gray;
}

.des{
    width: 50%;
    height: 30%;
    margin-top: 3%;
    float: left;
    background-color:black;
}

.name {
    font-weight: bolder;
    font-size: 2.5em;
}
.des p{
    color: white;
    height: 2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.title{
    width: 70%;
    margin-top: 7%;
    margin-left: 12%;
    font-size: 2em;
    font-weight: bold;
}

.date {
    font-size: 1.5em;
}

.big-image{
    width: 30%;
    height: 60%;
    margin-right: 10%;
    border-style: groove;
    float: right;
    display: block;
    background-color:white;
}

.text2 {
    margin-top: 20%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    margin: 0;
}